
@font-face {
    font-family:"Anchan";
    src: url("../fonts/Anchan.ttf");
}

@font-face {
    font-family:"CS-Cheangkhan";
    src: url("../fonts/CS-Cheangkhan.ttf");
}

@font-face {
    font-family:"DRjoyful";
    src: url("../fonts/DRjoyful.ttf");
}

@font-face {
    font-family:"KC Nightmare";
    src: url("../fonts/KC Nightmare.ttf");
}

@font-face {
    font-family:"PL-EDIT1";
    src: url("../fonts/PL-EDIT1.ttf");
}

@font-face {
    font-family:"Parggarfont";
    src: url("../fonts/Parggarfont.ttf");
}

@font-face {
    font-family:"kt_smarn seree";
    src: url("../fonts/kt_smarn seree.ttf");
}

@font-face {
    font-family:"rte_contrast_eta";
    src: url("../fonts/rte_contrast_eta.ttf");
}

@font-face {
    font-family:"kt_smarn";
    src: url("../fonts/kt_smarn.ttf");
}



@font-face {
    font-family:"AlsmileArounvilas";
    src: url("../fonts/AlsmileArounvilas.ttf");
}
@font-face {
    font-family:"BangLiKoSaNa";
    src: url("../fonts/BangLi-Ko-Sa-Na.ttf");
}

@font-face {
    font-family:"kruengprung-Italic";
    src: url("../fonts/kruengprung-Italic.ttf");
}

@font-face {
    font-family:"Jeans";
    src: url("../fonts/Jeans.ttf");
}

@font-face {
    font-family:"Suphanburi";
    src: url("../fonts/Suphanburi.ttf");
}

@font-face {
    font-family:"Akhanake";
    src: url("../fonts/Akhanake.ttf");
}


@font-face {
    font-family:"SabuyDee";
    src: url("../fonts/SabuyDee.ttf");
}

@font-face {
    font-family:"Circular";
    src: url("../fonts/Circular.ttf");
}

@font-face {
    font-family:"SarunsManorah";
    src: url("../fonts/SarunsManorah.ttf");
}

@font-face {
    font-family:"TorsilpWadkhen";
    src: url("../fonts/TorsilpWadkhen.ttf");
}
@font-face {
    font-family:"Arabica-Italic";
    src: url("../fonts/Arabica-Italic.ttf");
}
@font-face {
    font-family:"Kunlasatri";
    src: url("../fonts/Kunlasatri.ttf");
}