<!doctype html>

<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Thai Fonts</title>

	<!-- LIBRARIES -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- STYLES-->	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/test.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />


</head>


<body ng-app="ThaiFonts" ng-controller="MainCtrl">

	<div>
  		<md-content class="md-padding">
    		<md-tabs md-dynamic-height md-border-bottom>
      			<md-tab label="Type">
        			<md-content class="md-padding">
          					

          				<md-progress-linear md-mode="indeterminate" ng-show="!showApp"></md-progress-linear>

          				<div ng-show="showApp" style="padding-top: 20px;">
							<md-input-container md-no-float>
			          			<input ng-model="thaiInput" style="font-size: 20px" placeholder="Input Thai Text" setup-me>
			        		</md-input-container>
			        
					        <div class="examples" ng-repeat="font in fonts">
					        	<h1 style="font-family:'{{font}}';" class="example">{{thaiInput}}</h1>
					        </div>
					    </div>

				    </md-content>
				</md-tab>
      			<md-tab label="Test">
        			<md-content class="md-padding" style="padding-top: 30px;">
        				<md-input-container md-no-float>
			          		<input ng-model="testAnswer" style="font-size: 20px" ng-keyup="enterTestText($event)" placeholder="Input Test Shown Below. Press Return For Next">
			        	</md-input-container>

			        	<h1 style="font-family:'{{testFont}}';" class="example" ng-bind-html="testQuestion"></h1>


				    </md-content>
				</md-tab>
				<md-tab label="Add Source Text">
        			<md-content class="md-padding">

        				<br/>

        				<md-input-container md-no-float>
		          			<input ng-model="newExampleText" style="font-size: 20px" placeholder="Input New Thai Example For Quiz">
		        		</md-input-container>
		        		
		        		<md-button class="md-raised" ng-click="addExample()">Add Example</md-button>

				    </md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>

	<div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/Nicholas-Westley/thaiFonts">Fork me on GitHub</a>
        </div>
    </div>


	<!--ANGULAR-->
    <script src="/angular/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.js"></script>

    <!--MODULES-->
	<script src="controllers/c_main.js"></script>
	<script src="services/s_main.js"></script>
	<script src="directives/d_main.js"></script>

</body>
</html>











